.form-style {
  display: flex;
  justify-content: center;
}
.edit-form {
  display: flex;
  list-style: none;
  width: 80%;
  height: 60px;
  background-color: #b2c8dc;
  border: 3px solid white;
}
.add-input {
  width: 30%;
  height: 28px;
  border-radius: 5px;
  margin-right: 25px;
}

#edited-input,
#edited-input:focus {
  flex-grow: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
  display: flex;
  font-weight: bold;
  border: none;
  background: transparent;
}
.custom-button {
  margin: 3px;
  width: 95px;
}
